//- layout.pug
doctype html
html
  head
    title Wajahat Dance Academy 
    block scripts
    block style
  body
    nav#navbar 
        ul
            div#logo 
              img(src="/static/img/j1.png")
              | HDA 
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]
            
    block content
    footer#footer 
         | © 2024 Wajahat Dance Academy | All rights reserved.
